

body {
    width: 50%;
    margin: 0 auto;
    body style=background-image:src="aMap.jpg"
    }
    
    h1 {
        color:black;
        font-family:"Helvetica Neue";
        sans-serif; font-size:45px;
        font-weight:bold; letter-spacing:-1px; 
        line-height:48px; text-align:center;
    }

    h3  {
    	background-color: powder-blue;
    	color:white;
    	font-family:"Open Sans";sans-serif;
    	font-size:22px; font-weight:bold;
    	line-height:38px;
    	text-align:center;
    	padding:10px;
    	display:inline-block;
    }






    a:link {
           background-color: white;        
           color:black;
           padding: 14px 25px;
           border: medium;
           text-decoration: none;
           margin: 3px;
           display: inline-block;
         }

    a: hover {
           background-color:white;
           text-color: Orangered;
         }  

    footer p {
             text-align: center;
           }
