{%load staticfiles%}
<!DOCTYPE html>
<html>
<head>
	<title>About ME!</title>
	<link rel="stylesheet" type="text/css" href="{%static   'style.css'    %}"  >
</head>
<body>
	<h1>Hello, my name is Muneer Variawa.</h1>
	<h3>I am a full stack web developer and UI/UX enthusiast, based in Johannesburg, South Africa</h3>
	<h3>Check out my latest work at my Lab Page.</h3>
	<h3>Feel free to look around and stop by to say hello at muneer.variawa1@gmail.com</h3>
	<img src="{%static 'assets/car.png'%}">
	<h2>Coding DNA</h2>
	<h3>Proficient in:</h3>
	<p>html5</p>
	<p>css</p>
	<p>bootstrap</p>
	<p>java-script</p>
	<p>j-query</p>
	<p>Python-master</p>
	<p>Django junkie</p>

	<h3>Familiar in:</h3>
	<p>php</p>
	<p>java</p>
</body>
</html>