{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>My First Capstone Project</title>
    <meta charset="utf-8" />
    <link href="{%static 'Capstone1.css' %}" rel="stylesheet" type"text/css">    
</head>
<body>    
<body background = "{% static 'assets/aMap.jpg' %}">

<div class="topnav"  id="myTopnav">
    <a class="active"    href="http://127.0.0.1:8000/">Home</a>
    <a href="http://127.0.0.1:8000/travel3/">Specials</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    </div>
    
    <h1>TRAVEL IMPARTS NEW VIGOR TO THE MIND</h1>
    <h3>A mind that is stretched by a new experience can never go back to its old dimensions</h3>
    
     <a href="http://127.0.0.1:8000/travel2/"="StartButton">Get Started</a>
     <a href="https://www.travelstart.co.za/">Book Your Flights Now</a>




    <footer>        
        <p> &copy; World Class Holidays.&nbsp;&nbsp; All Rights Reserved.&nbsp;&nbsp; Proudly created by <a href="http://www.hyperiondev.com">World Class Holidays</a></p>
        <p>Last updated: 2 December 2017</p>
    </footer>  
</body>

</html>
